.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.icon {
  width: 48px;
  height: 48px;
  margin-right: var(--dl-space-space-doubleunit);
}
.icon2 {
  width: 48px;
  height: 48px;
  margin-right: var(--dl-space-space-doubleunit);
}
.icon4 {
  width: 24px;
  height: 24px;
}
.copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
